<form [formGroup]="form" (ngSubmit)="onSumit()">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" appElementError showSuccess="true" placeholder="Nome" formControlName="name">
    <app-error-component [control]="name"></app-error-component>
  </div>


  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" appElementError showSuccess="true" formControlName="email"
      placeholder="nome@email.com">

    <app-error-component [control]="email"></app-error-component>
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  <!-- <app-form-debug [FormDebug]="form"></app-form-debug> -->
</form>
