<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular Forms</a>
    </div>


    <ul class="nav navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a routerLink="/templateForm" class="nav-link">Form - Template Drive</a>
      </li>


      <li routerLinkActive="active">
        <a routerLink="/dataForm" class="nav-link">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mt25">
    <div class="col-sm-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
